<section id="home" class="home">
    <div class="row">
        <div class="col-lg-12 col-md-6 col-xs-12">
            <rd-widget>
                <rd-widget-header icon="fa-users" title="Cours ({{stats.cours.length}})">
                    <!-- <input type="text" placeholder="Search" class="form-control input-sm" /> -->
                </rd-widget-header>
                <rd-widget-body classes="medium no-padding">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Auteur</th>
                                    <th>Classe</th>
                                    <th>Matière</th>
                                    <th>Chapitre</th>
                                    <th>Titre</th>
                                    <th>Créé le</th>
                                    <th>Lectures</th>
                                    <th>Public</th>
                                    <th>_id</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-init="_idLimit = 5" ng-repeat="cours in listCours">
                                    <td><a href="#/edit/user/{{cours.auteur}}">{{cours.auteur}}</a></td>
                                    <td>{{cours.classe}}</td>
                                    <td>{{cours.matiere}}</td>
                                    <td>{{cours.chapitre}}</td>
                                    <td>{{cours.titre}}</td>
                                    <td>{{momentjs(cours.createdAt)}}</td>
                                    <td>{{cours.lectures}}</td>
                                    <td>{{cours.public}}</td>
                                    <td ng-click="_idLimit = cours._id.length"><a href="https://revizone.fr/#/cours/{{cours._id}}">{{cours._id | limitTo: _idLimit}}</a><span ng-show="_idLimit != cours._id.length">...</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </rd-widget-body>
                <rd-widget-footer>
                    <ul class="pagination pagination-sm">
                        <li ng-class="{'disabled': currentPage === 1}"><a ng-click="searchLess()" href="">&laquo;</a></li>
                        <li ng-class="{'active': currentPage === n}" ng-repeat="n in [] | range:numberOfPages() +1"><a href="" ng-click="getCours(n)">{{n}}</a></li>
                        <li ng-class="{'disabled': currentPage === numberOfPages()}"><a href="" ng-click="searchMore()">&raquo;</a></li>
                    </ul>
                    <div class="clearfix"></div>
                </rd-widget-footer>
        </div>
    </div>
</section>
